html {
	position: relative;
	min-height: 100%;
}

.navbar-brand {
	font-size: 1.5em;
	font-weight: bold;
	text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
	text-transform: uppercase;
}

.nav-item {
	font-size: 1.3em;
}

.navbar-light .navbar-nav .nav-link {
	color: white;
}
.container-invers  {
	padding-left: 3%;
	padding-right: 3%;
}

.btn-secondary, .btn-secondary:focus {
	background: linear-gradient(#D5D7D5, #FFFFFF 48%, #FFFFFF 52%, #D5D7D5);
	box-shadow:
			0 1px rgba(255,255,255,.2) inset,
			0 2px 5px rgba(0,1,6,.5),
			0 0 1px 1px rgba(0,1,6,.2);
	transition: .1s ease-in-out;
}

.btn-secondary:hover {
	background: linear-gradient(#C3CBDB, #F3F4F8 48%, #F3F4F8 52%, #C3CBDB);
}

.btn-secondary:active {
	background: linear-gradient(#C3CBDB, #F3F4F8 48%, #F3F4F8 52%, #C3CBDB);
	transform: scale(0.95);
	box-shadow:
			0 1px rgba(255,255,255,.2) inset,
			0 1px 1px rgba(0,1,6,.5),
			0 0 1px 1px rgba(0,1,6,.2);
}

.mr-sm-3 {
	background-color: #ECECEC;
}

.reg-info {
	color: white;
}
.content {
	margin-top: 10px;
	margin-bottom: 75px;
}

.nav-link {
	color: white;
	font-size: 90%;
	text-align: center;
}

.nav-link:hover {
	color: black;
}

.nav-item {
	width: 50%;
}

.sidebar-reg {
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 5px;
}

.pg-top {
	padding-top: 15px;
}

.mg-top {
	margin-top: 15px;
}

.article {
	margin: 20px;
}

.footer {
	width: 100%;
	height: 50px;
	position: absolute;
	bottom: 0;
	clear: both;
	padding: 10px;
	text-align: center;
}

.project-foter {
	text-transform: uppercase;
}

.ico {
	width: 20px;
}

.ico-like {
	width: 27px;
}

.article-info {
	margin-top: 5px;
	margin-bottom: 5px;
}

.rating {
	color: #0275d8;
	font-size: 1.2em;
}

.read-more {
	font-size: 1.2em;
}

.comments {
	margin-top: 25px;
}

.form-comment {
	width: 60%;
}

.comments-text {
	background-color: #f5f5f0;
	margin-top: 20px;
	padding: 10px;
	border-radius: 3px;
}

.user-comment {
	font-size: 1.1em;
	font-weight: bold;
}

.form-like {
	display: inline-block;
}

.sidebar{
	width: 100%;
	/*height: 200px;*/
	padding: 5px;
	border-radius: 5px;
	text-align: center;
	color: white;
}

.nav-sidebar {
	display: block;
	text-align: left;
}
.nav-link {
	text-align: left;
	padding-bottom: 1px;
}